apiVersion: v1
kind: Service
metadata:
  name: api-service
  labels:
    app: api-deploy
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    name: web-c
  selector:
    app: api-deploy